<div id="passengerHeader">
    <div>
        <span class="status" [ngStyle]="{backgroundColor: passenger.checkedIn ? 'turquoise' : 'tomato'}"></span>
        <span> - {{ i }}</span>
    </div>
    <span>{{ passenger.fullName }}</span>
    <a id="detailsBtn" routerLink="/passenger/{{passenger.id}}">Details</a>
</div>
<div>
    <p>
        Check in date: {{ passenger.checkInDate ?  (passenger.checkInDate | date: "y MMM d" | uppercase) : 'not check in'}}
    </p>
    <p>
        Children : {{ passenger.children?.length || 0 }}
    </p>
</div>
<div id="passengerActions">
    <button routerLink="edit/{{passenger.id}}">Edit</button>
    <button (click)="checkout()" [ngStyle]="{backgroundColor: !passenger.checkedIn ? 'turquoise' : 'tomato'}">{{ passenger.checkedIn ? 'Check out' : 'Check in' }}</button>
    <button (click)="delete()" [ngStyle]="{backgroundColor: 'red'}">Delete</button>
</div>


