<div>
    <span class="status" [ngStyle]="{backgroundColor: passenger.checkedIn ? 'turquoise' : 'tomato'}"></span>
    <span>{{ i }} - </span>
    <span *ngIf="!edit">{{ passenger.fullName }}</span>
    <input *ngIf="edit" type="text" [value]="name" (input)="onInput($event)" placeholder="Change name..."/>
</div>
<div>
    <p>
        Check in date: {{ passenger.checkInDate ?  (passenger.checkInDate | date: "y MMM d" | uppercase) : 'not check in'}}
    </p>
    <p>
        Children : {{ passenger.children?.length || 0 }}
    </p>
</div>
<div id="passengerActions">
    <button (click)="editField()" >Edit</button>
    <button (click)="checkout()" [ngStyle]="{backgroundColor: !passenger.checkedIn ? 'turquoise' : 'tomato'}">{{ passenger.checkedIn ? 'Check out' : 'Check in' }}</button>
    <button (click)="delete()" [ngStyle]="{backgroundColor: 'red'}">Delete</button>
</div>


