#addPassenger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: auto;
    background: rgb(11, 33, 73);
    color: #fff;
    border-radius: 5px;
}

#addPassengerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#addPassengerForm input {
   border-radius: 3px;
}

#addNewPassenger {
    font-size: 20px;
    text-transform: uppercase;
}

.formInnerContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

#addChildContainer {
    display: flex;
    flex-direction: column;
}

.submitBtn {
    width: 185px;
    background: rgb(0, 92, 168);
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    transform: scale(1.1);
}


.disabledBtn {
    width: 185px;
    background: rgb(155, 155, 155);
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: default;
}


#nameInputError {
    color: #f00;
    margin-top: 5px;
    width: 100%;
    text-align: center;
}